/* Style global pour le corps de la page */ 
 
body { 
    font-family: jomolhari, Arial, sans-serif; 
    margin: 0; 
    padding: 0;
} 

/* Style pour la barre de menu */ 
 
.menu { 
    background-color: #22b14c;
    overflow: Hidden;
} 

/* Style pour le nom du site (h1) */
h1 {
    color: white; /* Couleur du texte */
    text-align: left; /* Centrage du texte */
    padding: 0; /* Espacement autour du texte */
    font-size: 40px; /* Taille du texte */
    font-family: nanum brush script, Arial, sans-serif; /* Police du texte */
}
        
/* Style pour la liste des éléments du menu */ 

.menu ul { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    text-align: center; 
} 

/* Style pour chaque élément de la liste */ 

.menu li { 
    display: inline-block; 
    margin : 0 50px ; 
} 

/* Style pour les liens dans le menu */ 

.menu a { 
    display: block; 
    color : #0f4f22; /* Couleur du texte */ 
    text-decoration: none; /* Supprime le soulignement */ 
    padding: 0px 50px 0px 20px; /* Espacement autour du texte */ 
    font-size: 25px;
    font-family: nanum brush script, Arial, sans-serif; 
} 
    
    /* Changement de couleur au survol d'un élément */ 
    
.menu a:hover { 
        background-color: #575757; 
        border-radius: 5px; 
}









/*mise en forme du footer*/

footer {
    background-color: #22b14c;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}