header {
    background-color: #22b14c;
   /* border-bottom: 1px solid #e7e7e7;*/
    padding: 10px 0;
    text-align: center;
}

h1 {
    color: #0f4f22;
    font-size: 3em;
    margin: 0;
}




main {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 5%;
    padding: 0px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

footer {
    background-color: #22b14c;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: #0f4f22;
    font-size: 20px;
    margin: 0; 
    padding: 0; 
    text-align: center;
}

a:hover { 
    background-color: #575757; 
    border-radius: 5px; 
}